.wrapper {
	min-height: calc(100vh - 104px);
	height: auto !important;
	height: 100%;
	margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
	height: 40px; /* .push must be the same height as .footer */
	font-size: 12px;
	color: gray;
	text-align: center;
}
